<div class="content-header">
    <h1>
        Quests <small>This page displays a list of all the quests in the system</small>
    </h1>
</div>
<section class="content">
    <div class="box box-primary">
        <div class="box-header">
            <h2 class="box-title">Quests</h2>
        </div>
        <div class="box-body no-padding">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let quest of quests">
                        <td>{{quest.id}}</td>
                        <td>{{quest.title}}</td>
                        <td><button class="btn-primary btn">Edit</button></td>
                        <td><button class="btn-danger btn" (click)="deleteQuest(true,quest.id)">Delete</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="box-footer box-solid">
            <div class="pull-right">
                <button class="btn-success btn" (click)="addQuestClick()">Add</button>
            </div>
        </div>
    </div>
</section>

<modal-dialog #deleteDialog [title]="'Confirm Delete?'" (cancelClick)="confirmDelete(false)" (confirmClick)="confirmDelete(true)">
    Are you sure you wish to delete this quest?
</modal-dialog>

<modal-dialog #addDialog [title]="'Add Quest?'" (cancelClick)="this.addDialog.close()" (confirmClick)="addNewQuest()">
    <div class="row">
        <form>
            <div class="form-group">
                <label for="QuestTitle" class="control-label col-sm-3">Title</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="QuestTitle" name="title" placeholder="Enter Quest Title" [(ngModel)]="addQuest.title" />
                </div>
            </div>
        </form>
    </div>
</modal-dialog>